<html>
	<body>
		<form method="post" action="create_account_page">
			<input type="text" name="loginname" placeholder="User Name"><br><br>
			<input type="password" name="password" placeholder="Password" minlength="8" maxlength="8"><br><br>
			<input type="password" name="confirmpass" placeholder="Confirm" minlength="8" maxlength="8"><br><br>
			<input class="button" type="submit" value="Login">
		</form>
	</body>
</html>