<html>
	<div id="box">
		<h1>Phone Book</h1>
		<h3>Login</h3>
		<body>
			<form method="post" action="login_page">
				<input type="text" name="loginname" placeholder="User Name" minlength="2" maxlength="25" required><br><br>
				<input type="password" name="password" placeholder="Password" minlength="8" maxlength="12" required><br><br>
				<input class="button" type="submit" value="Login">
			</form>
			<%=error%>
			<h3>Create New Account</h3>
			<form method="post" action="login_page_new">
				<input type="text" name="loginname" placeholder="User Name" minlength="2" maxlength="25" required><br><br>
				<input id="password1" type="password" name="password" placeholder="Password" minlength="8" maxlength="12" required><br><br>
				<input id="password2" type="password" name="confirmpass" placeholder="Confirm" minlength="8" maxlength="12" required><br><br>	
				<input class="button" type="submit" value="Create Account">
			</form>
			<%=error2%>
		</body>
	</div>	
</html>